/*Contact styling*/

body {
     background-image:url(../images/last.jpg) ;
     background-repeat: no-repeat;
     background-size: cover;
    flex-direction: column; 
    justify-content: flex-start;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #f8f0f0;
    font-size: 45px;
  }
  
  p {
    margin-top: 0px;
    color: #faf7f7;
    font-size: 30px;
  }
  

li{
    list-style: none;
    padding: 5px;
    color: white;
    font-size: 30px;
}

.images{
    margin-left: 14%;
}
@media(max-width: 768px){
    .images{
        display: grid;
        grid-template-columns: auto auto;
    }
}