.nav-bar {
    background-color: #072945;
    padding: 10px;
    text-align: right;
}

.body_1 {
    background-color: #f0ceb2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    display: inline;
    margin-right: 10px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav-bar a:hover {
    color: red;
}

.footer {
    background-color: #010227;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 163px;
    color: white;
}

.column {
    float: left;
    width: 50%;
    overflow: hidden;
    margin-right: 20px;
    padding-right: 20px;
}

.row {
    text-align: left;
    margin-left: 10px;
}

.image {
    width: 500px;
    height: 400px;
    margin-top: 10px;
}

.footer-column {
    flex-basis: 25%;
    margin-right: 8px;
    margin-top: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

button {
    background-color: #57f75c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    color: red;
}

.right {
    position: relative;
}

.contact {
    float: none;
    margin-top: 20px;
}
.body_1 {
    transition: background-color 1s;
    animation: background-animation 3s infinite;
}

@keyframes background-animation {
    0% {
        background-color: white;
    }
    50% {
        background-color: rgb(124, 254, 224);
    }
    100% {
        background-color: rgb(225, 128, 128);
    }
}
