/* Add the corrected CSS code here */
.nav-bar {
    background-color: rgb(181, 234, 169);
    padding: 10px;
    text-align: right;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    display: inline;
    margin-right: 10px;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.nav-bar a:hover {
    color: red;
}

.footer {
    background-color: #df5858;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 165px;
}

.column {
    float: left;
    width: 50%;}

    .column {
        overflow: hidden;
        margin-right: 20px;
        padding-right: 20px;
    }

.row{
    
    text-align: left;
margin-left: 10px;
}


.column3 {
    margin-left: 470px;
}

.imag {
    width: 300px;
}

.footer-column {
    flex-basis: 33.33%;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}